/* Style the list */
#corn {
    display: block;
    align-self: center;
}
#Audio {
  background-color: #DF744A;
}
#Video {
  background-color: #DCB239;
}
#Images {
  background-color: #BFDFD2;
    margin: auto;
    width: 100%;
    border: 3px solid #FFFFFF;
    padding: 10px;
}
span {
  background-color: yellow;
  color: black;
}

body {
    background-color: blue;
}

p {
    font-family: "Verdana", sans-serif;
    font-style: italic;
}

h1 {
    font-family: "Verdana", sans-serif;
}

h3 {
    font-family: "Verdana", sans-serif;
}

li {
    font-family: "Verdana", sans-serif;
}

span {
    font-family: "Verdana", sans-serif;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid gray;
    background-color: #FEDCD2;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color:white;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.jumbotron {
    min-height: 800px;
    min-width: 1300px;
    background-image: url(media/snow.jpg);
    background-size: 100% contain;
    background-repeat: no-repeat;
    text-decoration-color: #FFFFFF;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
#top {
    background-color: black;
    width: 1000px;
    border: 25px solid black;
    padding: 25px;
    margin: auto;
    color: #FFFFFF;
    align-self: center;

}
#list{
  transition : all 1s;
  overflow : hidden;
  opacity : 0;
  height :0 ;
}
#list.active{
    height : 110px;
    opacity : 1;
}

button {
  background : white;
  color :black;
  transition : all 1s ease;
}
button.glow{
  background : blue;
  color : white;
 animation-name: glower;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
}

@keyframes glower {
  0% { background: blue; }
  50% { background: black; }
  100% { background : blue; }
}
h5 {
  width:100%;
  align-self: center;
}
